.hdrtext{
	margin-left: 23px;
}

#page0 h2, #page4 h2{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}


#page0 h2{
	margin-top: 20px;
}

.hdricon{
    margin-left: -6px;
    margin-top: -1px;
    position: absolute;
}

#startSearchButton, #startUrlSearchButton{
	height:0px;
	width: 0px;
	visibility:hidden;
}

.ui-navbar{
/*	border-top:1px solid;*/
	margin-top: -2px;
}

.ui-navbar li .ui-btn:last-child{
	margin-right: -4px;
	border-right: 1px solid;
}
 
.singleButtonNavBar{
 	margin-right: 0px;
 	border-right: 1px solid;
}

/*.ui-bar-e{
	border-bottom:1px solid #F4C63f;
}*/

.ui-bar-f{
	/*border-bottom:1px solid #F4C63f;*/
	margin-top:-1px;
	height:7px;
}

.indicatorBarWrapper{
	margin-top:-1px;
	height:7px;
/*	margin-bottom:-9px;*/
}

.ui-bar-e{
	text-align: center;
	padding: 3px 0 -10px 0;
}
